{
  "name": "<%= name %>",
  "version": "0.0.0",
  "main": "src/index.ts",
  "raycast": {
    "schemaVersion": 1,
    "title": "<%= name %>",
    "mode": "compact",
    "icon": "❓",
    "author": "Drew Wyatt",
    "authorURL": "https://raycast.com/drewwyatt"
  },
  "dependencies": {
    "utils": "*"
  }
}
